version: '3.8'

services:
  web:
    build: .
    container_name: lecturas-app
    ports:
      - "5000:5000"
    volumes:
      - ./db:/app/db
      - ./fotos:/app/fotos
    environment:
      - FLASK_ENV=production
      - FLASK_APP=web/app.py
    restart: unless-stopped
